<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You're ticket has been booked, <%= @user.name %></h1>
    <p>
      You have successfully booked a ticket.
    </p>
    <p>Thanks for your purchase</p>
  </body>
</html>
